# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Uploads
server/uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
client/.env
server/.env

# Build outputs
/dist
/build
client/build
server/dist

# OS/Editor
.DS_Store
*.swp
.vscode/
.idea/

# Misc
*.log
coverage/